.nav{
    grid-area: nav;
    min-height: 100vh;
}

.item{
    text-decoration: none;
    margin-bottom: 20px;
}

.active{
    text-decoration: underline;
    font-weight: bold;
}

.link{
    text-decoration: none;
    color: #000000;
}

.link__active{
    color: red;
}