.app-wrapper{
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav main main";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  position: relative;
}

ul {
  list-style: none;
}