.dialog__wrapper{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

a{
    text-decoration: none;
    color: #fefefe;
}


.dialog__messages {
    background-color: #b0b0b0;
    min-height: 100vh;
}

.dialog__conversation{
    background-color: #b0b0b0;
}

.dialog__conversation_item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 50px;
    border-width: 1px;
    border-style: solid;
}


.dialog__conversation_link{
    color: #333333;
}